engine-strict=true
legacy-peer-deps=true
registry=https://registry.npmjs.org/
@element:registry=https://artifactory.bayer.com/artifactory/api/npm/npm-platforms-engineering/
//artifactory.bayer.com/artifactory/api/npm/npm-platforms-engineering/:_auth=${ARTIFACTORY_API_TOKEN}
always-auth=true