@tailwind base;
@tailwind components;
@tailwind utilities;

.userSubMenuBox .mdc-list-item__primary-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

a {
  font-size: 18px;
}

.active a {
  color: #7373ad !important;
}

header {
  margin-bottom: 70px;
}